#notice{
    background: #fff;
    margin: 0 auto;
    max-width: 1200px;
}
.notice-wrap{
    width: 100%;
    height: auto;
    padding: 24px;
    font-size: 16px;
    background: #fff;
    margin-bottom: 6em;

}

ul,ol{
    list-style:none;
}
.textUndeline{
    text-decoration: underline;
    min-width: 40px;
    display: inline-block;
}
.textIndex{
    text-indent: 30px;
}
.notice-title{
    text-align: center;
    font-size: 35px;
}
.bar-code{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.odd-numbers{
    display: flex;
}
.odd-numbers>div{
    width: 50%;
}
.salesman-msg,.opinion-wrap,.policy-information{
    border: 2px solid #333;
}

/* 业务员信息 */
.salesman-msg{
    display: flex;
}

.salesman-left{
    width: 30%;
    border-right: 2px solid #333;
    padding-top: 11px;
}
.salesman-left>p{
    text-indent: 20px;
    line-height: 40px;
}
.salesman-right{
    width: 70%;
    line-height: 25px;
}
.salesman-name{
    display: flex;
}
.salesman-name>p{
    width: 50%;
}
/* 保险信息 */
.policy-information{
    margin: 25px 0;
    line-height: 25px;
}
.policy-additional{
    display: flex;
    padding-left:50px;
}
.policy-additional>p{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.salesman-data>p{
    text-align: left;
    margin-left: 70%;
}
/* 意见 */
.opinion-wrap{
    line-height: 27px;
}
.opinion-consider{
    line-height: 30px;
    margin-bottom: 10px;
}
.opinion-sign{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}
.prompt-msg{
    font-size: 18px;
}