* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 32px;
}

body {
  justify-content: space-between;
  background-color: #f5f5f5;
}

.text40 {
  font-size: 2rem;
}

.text20 {
  font-size: 1.2rem;
}

.text18 {
  font-size: 1.1rem;
}

.text17 {
  font-size: 1rem;
}

.text16 {
  font-size: 0.95rem;
}

.text15 {
  font-size: 0.9rem;
}

.text14 {
  font-size: 0.85rem;
}

.text13 {
  font-size: 0.8rem;
}

.text12 {
  font-size: 0.75rem;
}

.text11 {
  font-size: 0.7rem;
}

.text10 {
  font-size: 0.65rem;
}

.text9 {
  font-size: 0.6rem;
}

.text8 {
  font-size: 0.55rem;
}

.text7 {
  font-size: 0.5rem;
}

.tab {
  height: 80px;
  text-align: center;
  line-height: 60px;
  box-sizing: border-box;
  padding: 10px 10px 0 10px;
}

.tab-focus {
  color: #00aff9;
  border-bottom: #00aff9 solid 6px;
}

.tab-blur {
  color: #000;
}

input {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
  border: 0;
  font-size: 1rem;
}

.search {
  width: 710px;
  height: 60px;
  background-color: #fff;
  border-radius: 6px;
  font-size: 1rem;
  display: flex;
}

.search input {
  width: 550px;
  height: 60px;
  border: 0;
  background: transparent;
  font-size: 1rem;
}

.search image {
  opacity: 0.5;
  width: 48px;
  height: 48px;
  margin: 6px 16px 6px 16px;
}

.eclipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.div {
  display: flex;
  flex-direction: column;
}

.divx {
  display: flex;
}

.form-item {
  display: flex;
  min-height: 80px;
  line-height: 80px;
  background-color: #ffffff;
  margin-top: 1px;
}

.form-item-label {
  width: 270px;
  margin-left: 30px;
}

.form-item-widget {
  width: 430px;
  display: flex;
  margin-right: 20px;
}

.form-alert {
  color: #ff0000;
  text-align: center;
  font-size: 0.7rem;
  padding: 0 10px 0 10px;
  margin: 10px 20px 10px 20px;
  line-height: 30px;
  height: 30px;
  border: #ff0000 1px solid;
  background-color: #ffdddd;
}

.btn-sm {
  height: 60px;
  text-align: center;
  line-height: 60px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  min-width: 100px;
  margin: 10px 5px 10px 5px;
}

.btn-fl {
  height: 80px;
  text-align: center;
  line-height: 80px;
  border: 1px solid #f5f5f5;
  border-radius: 10px;
  width: 730px;
  margin: 20px 10px 20px 10px;
}

.btn-sel {
  color: #fff;
  background-color: #00aff9;
}

.tc-primary {
  color: #00aff9;
}

.tc-gray {
  color: #aaaaaa;
}

.tc-white {
  color: #ffffff;
}

.tc-red {
  color: #ff0000;
}

.bg-primary {
  background-color: #00aff9;
}

.bg-white {
  background-color: #ffffff;
}

.bg-desk {
  background-color: #f5f5f5;
}

.bg-gray {
  background-color: #aaaaaa;
}

.bg-dark {
  background-color: #334455;
}

.bottom {
  width: 100%;
  display: flex;
  border-top: #bbbbbb solid 1px;
  height: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  line-height: 100px;
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 30px;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-auto {
  margin-left: auto;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-auto {
  margin-right: auto;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.pl-1 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 20px;
}

.pl-3 {
  padding-left: 30px;
}

.pr-1 {
  padding-right: 10px;
}

.pr-2 {
  padding-right: 20px;
}

.pr-3 {
  padding-right: 30px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.list-item {
  height: 100px;
  background-color: #fff;
  border-bottom: #ddd solid 1px;
  display: flex;
}

.list-item-icon {
  width: 80px;
  height: 80px;
  margin: 10px 10px 10px 20px;
}

.list-item-icon img {
  width: 80px;
  height: 80px;
}

.list-item-content {
  margin: 10px 20px 10px 10px;
}

.lh-80 {
  line-height: 80px;
}

.lh-70 {
  line-height: 70px;
}

.lh-60 {
  line-height: 60px;
}

.lh-50 {
  line-height: 50px;
}

.lh-40 {
  line-height: 40px;
}

.lh-30 {
  line-height: 30px;
}

.lh-20 {
  line-height: 20px;
}

.h-80 {
  height: 80px;
}

.h-70 {
  height: 70px;
}

.h-60 {
  height: 60px;
}

.h-40 {
  height: 40px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.br-tl-gray {
  border-top: #aaaaaa solid 1px;
}

.br-bl-gray {
  border-bottom: #aaaaaa solid 1px;
}

.br-tl {
  border-top: #f5f5f5 solid 1px;
}

.br-bl {
  border-bottom: #f5f5f5 solid 1px;
}

.br-tl-primary {
  border-top: #00aff9 solid 2px;
}

.br-bl-primary {
  border-bottom: #00aff9 solid 2px;
}
