body {
  background: #fff;
}
.insuranceMain {
  background: #f5f5f5;
  width: 100%;
  height: 100%;
}
.insuranceMain .insuranceBox {
  width: 100%;
  background: #FAFAFA;
}
.insuranceMain .insuranceBox .insuranceTile {
  padding: 0.46875rem 0;
  background: #fff;
}
.insuranceMain .insuranceBox .insuranceTile .name {
  font-size: 0.5rem;
}
.insuranceMain .insuranceBox .insuranceTile img {
  width: 0.4375rem;
  height: 0.46875rem;
  margin: 0 0.375rem;
}
.insuranceMain .insuranceBox .insuranceTile font {
  font-size: 0.5rem;
}
.insuranceMain .insuranceBox .insuranceTile span {
  font-size: 0.4375rem;
  color: #999999;
}
.insuranceMain .insuranceBox .insuranceFoot {
  padding: 0.46875rem 0;
  display: flex;
  justify-content: flex-end;
  padding: 0 0.46875rem;
  background: #fff;
}
.insuranceMain .insuranceBox .insuranceFoot font {
  font-size: 0.5rem;
}
