#ppp {
  width: 30.83333333rem;
  border-left-width: 30.83333333rem;
  height: calc(1em + 100px);
}
/* common */
html {
  font-size: 3.2vw;
}
body {
  background: #f7f8fa;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Tahoma, Arial, heitilight, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
  font-size: 3.2vw;
  text-size-adjust: 100% !important;
}
body *:not(input):not(textarea) {
  user-select: none;
}
ul,
dl,
ol,
figure,
h1,
p,
h2,
h3,
h4,
h5,
h6,
input {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: 400;
}
li,
dd {
  list-style: none;
  padding: 0;
  margin: 0;
}
img,
input,
textarea,
button {
  vertical-align: middle;
  appearance: none;
  border-radius: 0;
}
hr {
  padding: 0;
  margin: 0;
  border: none;
  border-top: #eee solid 1px;
}
a {
  text-decoration: none;
  color: #202020;
}
/** 产品详情 */
.product-container {
  font-size: 1.2em;
}
