#ppp {
	width: 30.83333333rem;
	border-left-width: 30.83333333rem;
	height: calc(1em + 100px);
}
/* common */
html {
	font-size: 3.2vw;
}
body {
	background: #f7f8fa;
	margin: 0;
	padding: 0;
	font-family: Helvetica, Tahoma, Arial, heitilight, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
	font-size: 3.2vw;
	text-size-adjust: 100% !important;
}
body *:not(input):not(textarea) {
	user-select: none;
}
ul,
dl,
ol,
figure,
h1,
p,
h2,
h3,
h4,
h5,
h6,
input {
	padding: 0;
	margin: 0;
	font-size: 1em;
	font-weight: 400;
}
li,
dd {
	list-style: none;
	padding: 0;
	margin: 0;
}
img,
input,
textarea,
button {
	vertical-align: middle;
	appearance: none;
	border-radius: 0;
}
hr {
	padding: 0;
	margin: 0;
	border: none;
	border-top: #eee solid 1px;
}
a {
	text-decoration: none;
	color: #202020;
}

/*--fontSize:1em;*/

div.home-container{
	font-size: .9em;
	background: #fff;
	padding: 0 1em;
}


div.receipt-header{
	text-align: center;padding: 1em 0;font-weight: bold;
}


div.receipt-block1{
	position: relative;
}

div.receipt-block1 h1{
	font-size: 1em;height: 2.5em;line-height: 2.5em;
}

div.receipt-block1 ul li{
	height: 2em;line-height: 2em;
}

div.receipt-block1 div.right-box{
	font-size: 1em;
	width: 15em;
	border: 1px dashed #000;
	position: absolute;
	top: 2em;right: 0;
}


div.receipt-block2{
	position: relative;margin-top: 2em;
}

div.receipt-block2 h1{
	font-size: 1em;height: 2em;line-height: 2em;font-weight: normal;
}

div.receipt-block2 ul{
	font-size: 1em;padding: 1em;
}
div.receipt-block2 ul li{
	line-height: 1.5em;position: relative;
}
div.receipt-block2 ul li span{
	position: absolute;left: -1em;
}

div.receipt-block3{
	position: relative;
}

div.receipt-block3 h1{
	font-size: 1em;height: 2em;line-height: 2em;font-weight: normal;
}

div.receipt-block3 ul{
	font-size: 1em;padding: 1em;
}
div.receipt-block3 ul li{
	line-height: 1.5em;position: relative;
}
div.receipt-block3 ul li.item{
	line-height: 1.5em;position: relative;text-decoration: underline;
}
div.receipt-block3 ul li span.num{
	position: absolute;left: -1em;
}
div.receipt-block3 ul li>b{
	display:inline-block;
	padding:0 .5em;
	border-bottom:1px solid #000;
	font-weight: normal;
}
div.receipt-block3 ul li label {
	margin: 0 .5em;
}
div.receipt-block3 ul li.line {
	margin-top: .5em
}
input{
	 width: auto;
     height: auto;
     /*box-sizing: border-box; */
     /*padding: 0 10px 0 10px; */
     /*border: 0; */
    /*font-size: 1rem;*/
}



div.receipt-block4{
	position: relative;margin-top: 2em;
}
div.receipt-block4 ul{
	height: 3em;
}
div.receipt-block4 ul li{
	width: 45%;text-align: left;float: right;
}
div.receipt-block4 ul li span{
	color:#666;display: inline-block;vertical-align: middle;border: .5em solid #eee;height: 4em;width:10em;text-align:center;line-height: 3em;
}

div.receipt-block4 ul li img{
	width: 6em;height: 6em;vertical-align: middle;
}
div.receipt-block5{
	position: relative;margin-top: 6em;
}
div.receipt-block5 ul {
	display: flex;
	justify-content: space-around;
}
div.receipt-block5 ul li {
	flex: 1;
	display: flex;
	flex-direction: column;
}