.card-title {
  height: 48px;
  padding: 6px 10px 6px 20px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.card-title-img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.card-title-text {
  display: inline-block;
  font-size: 0.8rem;
  line-height: 36px;
}

.card-content {
  line-height: 80px;
}

.card-content-line {
  height: 80px;
  margin-bottom: 1px;
  display: flex;
}

.card-content-label {
  width: 36%;
  margin-left: 30px;
}

.card-content-widget {
  width: 56%;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 30px;
}

.btn-img {
  width: 100px;
  height: 100px;
  border-right: #eee solid 1px;
  line-height: 20px;
  text-align: center;
  background-color: #fff;
}

.btn-sky {
  color: #fff;
  line-height: 20px;
  background-color: deepskyblue;
  border-left: #2AD solid 1px;
  border-right: 0;
}

.btn-img text {
  width: 100px;
  font-size: 0.7rem;
}

.btn-img img {
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 1px;
  width: 60px;
  height: 60px;
}

.product {
  margin-bottom: 1px;
  padding: 0;
}

.product-main {
  height: 140px;
  line-height: 60px;
}

.product-rider {
  display: flex;
  height: 80px;
  line-height: 80px;
}

.product .left {
  width: 80px; 
  text-align: center;
}

.product .middle {
  width: 480px;
}

.product .right {
  width: 150px;
  text-align: right;
}

.title {
  background-color: #00aff9;
  border-radius: 20px;
  line-height: 40px;
  padding: 0 16px 0 16px;
  color: #ffffff;
}